body {
    font-family: sans-serif;
    color: #444;
    background: url("/static/images/mars-rover.jpg") no-repeat fixed;
}

#contents {
    padding: 10px;
}

#title {
    text-align: center;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}

#subtitle {
    text-align: center;
    color: #fff;
}

#photos {
    display: flex;
    flex-wrap: wrap;
}

#load_more {
    display: none;
    text-align: center;
}

.load_more_btn {
    margin: 10px;
    background-color: #487eb0;
    color: #fff;
    font-size: 14px;
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.photo {
    width: 20%;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background: linear-gradient(
        rgba(44,62,80 ,0.5),
        rgba(44,62,80 ,0.5));
    padding: 30px;
    margin: 20px auto;
    border-radius: 4px;
}

label {
    color: #fff;
    margin-bottom: 4px;
}

#status {
    text-align: center;
}

.input {
    padding: 10px;
    font-size: 14px;
    width: auto;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

#submit_btn {
    background-color: #e84118;
    color: #fff;
    font-size: 14px;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#submit_btn:hover {
    background-color: #c23616;
}

@media only screen and (max-width: 1000px) {
  .photo {
    width: 50%;
  }
}


@media only screen and (max-width: 600px) {
  .photo {
    width: 100%;
  }
}